html,body {
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background-color: #009DE5;
  background-repeat:no-repeat;
  background-position:left bottom;
}
img {
	border:0px;
}

div#main_container {
  width:100%;
  height:100%;
  position:relative;
  width:100%;
  height:100%;
}

div#header {
   width:100%;
   top:0px;
   height:100px;
   z-index:1001;
   position:center;
}

div#question {
   width:100%;
   top:0px;
   height:40%;
   position:absolute;
   z-index:1000;
}

div#question_info {
  width:28px;
  height:28px;
  display:inline-block;
  position:relative;
  top:-5px;
  left:3px;
}

div#answers {
   width:100%;
   height:60%;
   position:absolute;
   padding-top:12px;
   text-align: center;
}

div.answer {
  display:inline-block;
  position:absolute;
  width:100px;
  height:100px;
  margin: 4px;
  cursor: pointer;
}

div.answer img {
-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;
}

div#footer {
   width:100%;
   bottom:0px;
   height:50px;
   position:absolute;
}

td.td_question {
  vertical-align:bottom;text-align:center;
  font-size:40px;
  font-family: Open Sans, Source Sans Pro, Helvetica, Arial, sans-serif;
  font-weight:700;
  color: #E51B24;
}

.answer_title {
  font-family: Open Sans, Source Sans Pro, Helvetica, Arial, sans-serif;
  padding:5px;
  font-size:20px;
  opacity: 0;
}

.rounded {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eee), color-stop(1, #fff));
	background:-moz-linear-gradient(top, #eee 5%, #fff 100%);
	background:-webkit-linear-gradient(top, #eee 5%, #fff 100%);
	background:-o-linear-gradient(top, #eee 5%, #fff 100%);
	background:-ms-linear-gradient(top, #eee 5%, #fff 100%);
	background:linear-gradient(to bottom, #eee 5%, #fff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#fff',GradientType=0);
	background-color:#fff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ccc;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
	width:100px;
	margin-bottom:7px;
	padding:6px 12px;
}

#textHeader {
   height:36px;
   display: inline-block;
   background-color:white;
   font-family: Open Sans, Source Sans Pro, Helvetica, Arial, sans-serif;
   vertical-align: bottom left; 

	border-radius: 4px 4px;
	
	border:1px solid #666;
	font-size:18px;
	font-weight:400;
	position:bottom left;
}

.popover-title {
    color: gray;
    font-size: 15px;
	font-family: 'Alef', sans-serif;
	font-weight:700;
	color: #66a;
}
.popover-content {
    color: #666;
    font-size: 11px;
	font-family: 'Alef', sans-serif;
	font-weight:400;
}

.popover{
	min-width:100px;
	width:330px;
	max-width:300px;
}

#chart1 {
  width:350px;
  margin: 138px auto 0px auto;
  position:relative;
}

#chart2 {
  width:350px;
  margin: 0px auto 0px auto;
  position:relative;
}

.chart-legend {
  width:100%;
  height:30px;
}

.chart-chart {
  width:350px;
  height:214px;
  background: url('../imgs/chart.png');
}

#chart-lines {
  position:absolute;
  left:0px;
  top:4px;
}

#footer {
  text-align:center;
}

.chart_point_d,.chart_point_c {
  width:9px;
  height:9px;
  position:absolute;
  border:1px solid #555;  
  background-color: #f77;
}

.chart_point_d {
  background-color: #f77;
}

.chart_point_c {
  background-color: #eee;
}

.chart_point_dl,.chart_point_cl {
  width:9px;
  height:9px;
  border:1px solid #555;  
  background-color: #f77;
  display: inline-block;
  float:left;
  margin-left:5px;
  margin-right:5px;
  margin-top:5px;
}

.fl {
  float:left;
  display: inline-block;
}

.chart_point_dl {
  background-color: #f77;
  margin-left:86px;
}

.chart_point_cl {
  background-color: #eee;
}